<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Movie</title>
  </head>
  <body>

  <form action="/users/{{ user_id }}/add_movie" method="POST">
  <label for="name">Movie Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="director">Director:</label>
  <input type="text" id="director" name="director"><br><br>
  <label for="year">Year Released:</label>
  <input type="number" id="year" name="year"><br><br>
  <input type="submit" value="Add Movie">
  </form>

  </body>
</html>
